<div class="w-full h-[calc(100%-64px)] flex flex-row items-center justify-center gap-[20px] p-[20px]">
    <div class="flex flex-col gap-[10px]">
        <h1 class="text-6xl font-bold">Create Your Resume</h1>
        <div>
            <div class="text-2xl">Fill up this form and generate professional PDF automatically.</div>
            <ul class="list-disc list-inside">
                <li class="text-2xl">Login not required</li>
                <li class="text-2xl">Everything is stored within your browser.</li>
            </ul>
        </div>
        <div class="flex gap-[5px] flex-wrap w-fit">
            <a class="flex-grow w-fit" mat-flat-button [routerLink]="'form'">{{localResumeExists ? "Check your Form" : "Give it a try!"}}</a>
            <button type="button" class="flex-grow w-fit" mat-flat-button (click)="fileInput.click()">Upload Resume Data</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file">
        </div>
    </div>

    <img src="resume.png" class="rounded-md max-w-[50%] border object-contain">

</div>