<div class="w-full h-full py-[10px] flex flex-col items-center justify-center">
    <form class="w-full h-full flex flex-col">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Name</mat-label>
            <input matInput required placeholder="Enter your name here..." name="name" [(ngModel)]="generalInfo.name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter your email here..." name="email"
                [(ngModel)]="generalInfo.email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Telephone/Mobile</mat-label>
            <input matInput placeholder="Enter your phone here..." name="phone"
                [(ngModel)]="generalInfo.phone">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>About</mat-label>
            <textarea matInput placeholder="Write something about yourself..." name="about"
                [(ngModel)]="generalInfo.about"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="3"></textarea>
        </mat-form-field>

        <div class="flex items-center justify-between">
            <h4 class="text-xl">Additional Links (if needed)</h4>
            <button mat-icon-button (click)="addAdditionalLink()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <mat-card class="flex-grow min-h-[200px] w-full overflow-x-clip overflow-y-auto" appearance="outlined">
            <mat-card-content>
                @for (webLink of generalInfo.links; track $index) {
                <div class="pt-[10px] flex items-center justify-items-center justify-between gap-[10px]">
                    <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title (Keep empty to show link instead)"
                            name="title{{$index}}" [(ngModel)]="webLink.title">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                        <mat-label>Link</mat-label>
                        <input matInput required placeholder="The actual link for the website..."
                            name="link{{$index}}" [(ngModel)]="webLink.link">
                    </mat-form-field>
    
                    <button mat-icon-button (click)="removeLink($index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                }
                @empty {
                    <div class="text-center">
                        <i>Add some links</i>
                    </div>
                }
            </mat-card-content>
        </mat-card>
    </form>
</div>