<form class="w-full h-full overflow-clip flex flex-col" #form="ngForm">
    <div class="flex items-center justify-between py-[10px]">
        <h4 class="text-xl">Educational Info (will be shown in reverse order)</h4>
        <button mat-stroked-button (click)="addEducationalInfo()">
            Add
        </button>
    </div>
    <mat-card class="flex-grow w-full overflow-x-clip overflow-y-auto" appearance="outlined">
        @for (ed of education; track $index) {
        <mat-card appearance="outlined" class="m-[10px]">
            <mat-card-content>
                <div class="pt-[10px] flex items-center justify-items-center justify-between gap-[10px]">
                    <div class="flex-grow flex flex-col gap-[10px]">
                        #{{$index + 1}}.
                        <div class="flex gap-[10px] flex-wrap">
                            <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                <mat-label>Educational Institute (will be ignored if this field is empty)</mat-label>
                                <input matInput [placeholder]="ed.institutionPlaceholder ?? ''"
                                    name="institution{{$index}}" [(ngModel)]="ed.institutionName">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                <mat-label>Major Subject</mat-label>
                                <input matInput [placeholder]="ed.subjectPlaceholder ?? ''"
                                    name="subject{{$index}}" [(ngModel)]="ed.subject">
                            </mat-form-field>
                        </div>

                        <div class="w-full flex items-center justify-center gap-[10px] flex-wrap">
                            <mat-label>Select Scoring Type:</mat-label>
                            <mat-radio-group class="w-[50%] flex justify-between flex-wrap" aria-label="Select an option"
                                name="scoringType{{$index}}" [(ngModel)]="ed.scoreType"(ngModelChange)="ed.totalScore = commonService.findTotalScoreFromType(ed.scoreType) ?? 0">
                                @for (enum of scoreEnumOptions; track $index) {
                                <mat-radio-button [checked]="ed.scoreType == enum"
                                    [value]="enum">{{enum}}</mat-radio-button>
                                }

                                <mat-radio-button
                                    [value]="scoreEnumOptions.includes(ed.scoreType) ? '' : ed.scoreType">Others</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                <mat-label>Custom Scoring</mat-label>
                                <input matInput [disabled]="scoreEnumOptions.includes(ed.scoreType)"
                                    name="link{{$index}}"
                                    [ngModel]="scoreEnumOptions.includes(ed.scoreType) ? '' : ed.scoreType"
                                    (ngModelChange)="ed.scoreType = $event">
                            </mat-form-field>
                        </div>

                        @if(scoreEnumOptions.includes(ed.scoreType)) {
                            <div class="flex gap-[10px] items-center flex-wrap">
                                <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                    <mat-label>Score/Point Gained</mat-label>
                                    <input matInput type="number" name="score{{$index}}" [(ngModel)]="ed.score">
                                </mat-form-field>
                                <span> out of </span>
                                <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                    <mat-label>Total Score/Point</mat-label>
                                    <input matInput placeholder="Usually for Uni level"
                                        type="number"
                                        name="totalScore{{$index}}"
                                        [disabled]="commonService.findTotalScoreFromType(ed.scoreType) != null"
                                        [ngModel]="commonService.findTotalScoreFromType(ed.scoreType) ?? ed.totalScore"
                                        (ngModelChange)="ed.totalScore = commonService.findTotalScoreFromType(ed.scoreType) ?? $event">
                                </mat-form-field>
                            </div>
                        }

                        <div class="flex gap-[10px] items-center flex-wrap">
                            <mat-checkbox class="min-w-[100px] w-[10%]" [(ngModel)]="ed.isCurrentlyIn" name="current{{$index}}">Currently
                                Studying?</mat-checkbox>
                            <mat-checkbox class="min-w-[100px] w-[15%]" [(ngModel)]="ed.ignoreDate" name="ignoreDate{{$index}}">Ignore Exact
                                Date in Report</mat-checkbox>
                            <mat-checkbox class="min-w-[100px] w-[15%]" [(ngModel)]="ed.ignoreMonth" name="ignoreMonth{{$index}}">Ignore Exact
                                Month in Report</mat-checkbox>
                            
                            <div class="w-full flex gap-[10px] flex-wrap">
                                <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="from" name="start{{$index}}"
                                    [(ngModel)]="ed.startDate">
                                <mat-datepicker-toggle matIconSuffix [for]="from"></mat-datepicker-toggle>
                                <mat-datepicker #from appearance="outline" format></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                <mat-label>End Date</mat-label>
                                <input matInput [disabled]="ed.isCurrentlyIn" [matDatepicker]="to" name="end{{$index}}"
                                    [ngModel]="ed.isCurrentlyIn ? '' : ed.endDate"
                                    (ngModelChange)="ed.endDate = $event">
                                <mat-datepicker-toggle matIconSuffix [for]="to"></mat-datepicker-toggle>
                                <mat-datepicker #to appearance="outline" format></mat-datepicker>
                            </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <button mat-icon-button (click)="removeEducation($index)" [disabled]="ed.institutionPlaceholder">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        }
    </mat-card>

</form>