<form class="w-full h-full overflow-clip flex flex-col" #form="ngForm">
    <div class="flex items-center justify-between py-[10px]">
        <h4 class="text-xl">Work Experience (will be shown in reverse order)</h4>
        <button mat-stroked-button (click)="addExperienceInfo()">
            Add
        </button>
    </div>
    <mat-card class="flex-grow w-full overflow-x-clip overflow-y-auto" appearance="outlined">
        <mat-card-content>
            @for (xp of experiences; track $index; let expIndex = $index) {
            <mat-card appearance="outlined" class="m-[10px]">
                <mat-card-content>
                    <div class="pt-[10px] flex justify-items-center justify-between gap-[10px]">
                        <div class="w-full flex-grow flex flex-col gap-[10px]">
                            #{{expIndex + 1}}.
                            <div class="flex gap-[10px] flex-wrap">
                                <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput name="company{{expIndex}}"
                                        [placeholder]="'Will be ignored if this field is empty'" [(ngModel)]="xp.company">
                                </mat-form-field>
    
                                <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                    <mat-label>Location</mat-label>
                                    <input matInput name="location{{expIndex}}" [(ngModel)]="xp.location">
                                </mat-form-field>
    
                                <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                    <mat-label>Role</mat-label>
                                    <input matInput name="role{{expIndex}}" [(ngModel)]="xp.role">
                                </mat-form-field>
                            </div>
    
                            <div class="flex gap-[10px] items-center flex-wrap">
                                <mat-checkbox class="min-w-[100px] w-[20%]" [(ngModel)]="xp.isCurrentlyIn" name="current{{expIndex}}">Currently
                                    Working?</mat-checkbox>
                                <mat-checkbox class="min-w-[100px] max-w-[20%]" [(ngModel)]="xp.ignoreDate" name="ignoreDate{{expIndex}}">Ignore Exact
                                    Date in Report</mat-checkbox>
                                <mat-checkbox class="min-w-[100px] w-[20%]" [(ngModel)]="xp.ignoreMonth" name="ignoreMonth{{expIndex}}">Ignore Exact
                                    Month in Report</mat-checkbox>
                                    <div class="w-full flex gap-[10px] flex-wrap">
                                        <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                            <mat-label>Start Date</mat-label>
                                            <input matInput [matDatepicker]="from" name="start{{expIndex}}"
                                                [(ngModel)]="xp.startDate">
                                            <mat-datepicker-toggle matIconSuffix [for]="from"></mat-datepicker-toggle>
                                            <mat-datepicker #from appearance="outline" format></mat-datepicker>
                                        </mat-form-field>
            
                                        <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                            <mat-label>End Date</mat-label>
                                            <input matInput [disabled]="xp.isCurrentlyIn" [matDatepicker]="to" name="end{{expIndex}}"
                                                [ngModel]="xp.isCurrentlyIn ? '' : xp.endDate"
                                                (ngModelChange)="xp.endDate = $event">
                                            <mat-datepicker-toggle matIconSuffix [for]="to"></mat-datepicker-toggle>
                                            <mat-datepicker #to appearance="outline" format></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                            </div>
    
                            <div class="flex items-center justify-between p-[10px]">
                                <h3 class="text-l">Write about your work</h3>
                                <button mat-stroked-button (click)="addResponsibilityInfo($index)">
                                    Add
                                </button>
                            </div>
    
                            <div class="w-full flex flex-col justify-between gap-[10px] max-h-[300px] ">
                                @for (responsibiity of xp.responsibilities; track $index) {
                                    <div class="flex w-full gap-[10px] items-center">
                                        <mat-form-field appearance="outline" class="flex-grow" subscriptSizing="dynamic">
                                            <input matInput [placeholder]="'Write here...'" name="responsibiity{{expIndex}}_{{$index}}"
                                                [(ngModel)]="xp.responsibilities[$index]">
                                        </mat-form-field>
    
                                        <button mat-icon-button (click)="removeResponsibility(expIndex, $index)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
    
                        <button mat-icon-button (click)="removeExperience(expIndex)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            }
            @empty {
                <div class="text-center">
                    <i>Add some experience</i>
                </div>
            }
        </mat-card-content>
    </mat-card>

</form>