@if (fileUrl) {
    <div class="h-[calc(100%-70px)] w-full px-[10px] flex flex-col items-center">
        <iframe class="w-[50%] h-[calc(100%-40px)] rounded" [src]="fileUrl" height="100%"></iframe>
        <button mat-flat-button (click)="generatePDF()">Download PDF</button>
    </div>
        
} @else if (isLoading) {
    <div class="h-full text-center flex items-center justify-center">
        <i>{{'Loading...'}}</i>
    </div>
} @else {
   <div class="h-full text-center flex flex-col items-center justify-center gap-[10px]">
        <i class="text-xl">{{'Resume not Found. Why not create one?'}}</i>
        <a mat-flat-button [routerLink]="['/form']">Create a resume</a>
    </div> 
}