@if (fileUrl) {
    <div class="h-[calc(100%-70px)] w-full px-[10px] flex flex-col items-center">
        <div class="flex w-[70%] h-full justify-between items-center">
            <iframe class="w-[50%] h-[90%] rounded border mx-[10px]" [src]="fileUrl"></iframe>
            <mat-divider [vertical]="true" class="h-[50%]"></mat-divider>
            <div class="w-[50%] max-w-[300px] flex flex-col justify-center p-[10px] gap-[10px]">
                <h1 class="text-4xl py-[20px] text-center">Your Resume is Ready!</h1>
                <button class="w-full" mat-flat-button (click)="generatePDF()">Download Resume</button>
                <a class="w-full" mat-stroked-button [routerLink]="['/form']">Edit Form</a>
                <button class="w-full" mat-stroked-button (click)="exportJson()">Export Resume Data</button>
            </div>
        </div>
    </div>
        
} @else if (isLoading) {
    <div class="h-full text-center flex items-center justify-center">
        <i>{{'Loading...'}}</i>
    </div>
} @else {
   <div class="h-full text-center flex flex-col items-center justify-center gap-[10px]">
        <i class="text-xl">{{'Resume not Found. Why not create one?'}}</i>
        <a mat-flat-button [routerLink]="['/form']">Create a resume</a>
    </div> 
}