<div class="pt-[10px] max-h-full flex flex-col items-center justify-center">
  <mat-card class="w-[90%] max-w-[1200px]" appearance="outlined">
    <mat-card-header>
      <div class="w-full flex justify-between items-center">
        <mat-card-title>Write about yourself</mat-card-title>
        <button mat-stroked-button (click)="saveAndGeneratrPdf()">
          Save and Generate PDF
        </button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <mat-stepper class="h-[75vh] w-full overflow-auto" [linear]="false" [(selectedIndex)]="selectedIndex">
        <mat-step class="h-full" label="General">
          <app-general-info [generalInfo]="formData.general"></app-general-info>
        </mat-step>

        <mat-step class="h-full" label="Education">
          <app-education [education]="formData.education"></app-education>
        </mat-step>

        <mat-step class="h-full" label="Work Experience">
          <app-experience [experiences]="formData.experiences"></app-experience>
        </mat-step>

        <mat-step class="h-full" label="Technologies and Projects">
          <app-project [projectTech]="formData.projectTech"></app-project>
        </mat-step>
      </mat-stepper>
    </mat-card-content>

    <mat-card-actions class="flex flex-col gap-[10px] m-[10px]" align="end">
      <button mat-stroked-button [disabled]="!selectedIndex" (click)="previousStep()">
        Prev
      </button>
      @if (selectedIndex < (matTabGroup?.steps?.length ?? 0) - 1) { <button mat-stroked-button (click)="nextStep()">
        Next
        </button>
        }
        @else {
        <button mat-stroked-button (click)="save()">
          Save
        </button>
        }
    </mat-card-actions>
  </mat-card>
</div>