::ng-deep .mat-horizontal-stepper-wrapper {
    height: 100%;
}

::ng-deep .mat-horizontal-content-container {
    height: 100%;
}

::ng-deep .mat-horizontal-stepper-content {
    height: 100%;
}

::ng-deep .bg-green {
    background-color: green !important;
}

::ng-deep .bg-green>* {
    background-color: green !important;
}